.swiper {
    width: 90%;
    max-width: 900px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    padding: 30px 20px 50px;
    margin: 50px auto;
  }

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

.animal-photo {
    width: 100%;
    max-width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
  }

.animal-type {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-bg);
    margin-bottom: 10px;
  }

.animal-desc {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    max-width: 600px;
  }

  .swiper-pagination-bullet {
    background: #4F9D69;
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    background: #2E7D32;
    opacity: 1;
  }

  .botton{
    background: #F3A505;
    width: 40%;
    border-radius: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
}
.search-conteiner {
    max-width: 1600px;
    margin: 50px auto;
    background-color: white;
    padding: 50px 0;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-left: 100px;
    font-size: var(--font-size-head);
}

.search-conteiner div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 100px;
    margin-top: 50px;
}
.search-conteiner-input {
    width: 40%;
    height: 40px;
    border-radius: 100px;
    font-size: 20px;
    background-color: var( --color-input);
    border: none;
    margin-right: 50px;
    box-sizing: border-box;
    padding: 20px;

}

.botton:hover{
    background-color: #e2a11f;
}

  @media (max-width: 600px) {
    .animal-photo {
      height: 200px;
    }
    .animal-type {
      font-size: 18px;
    }
    .animal-desc {
      font-size: 14px;
    }
  }

  .card-main-conteiner {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1600px;
    justify-content: space-around;

  }
    .card {
        width: 30% ;
        background: #fff;
        margin: 50px 10px;
      border-radius: 16px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.05);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      transition: transform 0.2s;
      min-width: 300px;
    }

    .card:hover {
      transform: translateY(-3px);
    }

    .card img {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }

    .card-content {
      padding: 12px 16px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .card h3 {
      font-size: 18px;
      margin: 0 0 6px;
    }

    .card p {
      font-size: 14px;
      color: #444;
      margin: 2px 0;
    }

    .bottom  {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;
    }

    .phone {
      color: #0077cc;
      text-decoration: underline;
      font-size: 14px;
    }

    .bottom span {
      font-size: 12px;
      padding: 3px 8px;
      border-radius: 12px;
      font-weight: bold;
    }

    .registered {
      background: #dcfce7;
      color: #166534;
    }

 