.search-conteiner {
    max-width: 1600px;
    margin: 50px auto;
    background-color: white;
    padding: 50px 0;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-left: 100px;
    font-size: var(--font-size-head);
}

.search-conteiner div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 100px;
}
.search-conteiner-input {
    width: 40%;
    margin-top: 50px;
    height: 40px;
    border-radius: 100px;
    font-size: 20px;
    background-color: var( --color-input);
    border: none;

}

.botton{
    background: #F3A505;
    width: 40%;
    margin-top: 50px;
    border-radius: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 75px;
}

  .container {
    background-color: #fff;
    border-radius: 20px;
    max-width: 1600px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 50px auto;
    box-sizing: border-box;
    padding: 20px;

    
  }
  h2 {
    margin-bottom: 15px;
    font-size: var(--font-size-head);
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  table th, td {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
  }
  table th {
    background-color: #f4f4f4;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
  }
  .page {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--color-input);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .active {
    background-color: var(--color-bg);
  }
