.search-conteiner {
    max-width: 1600px;
    margin: 50px auto;
    background-color: white;
    padding: 50px 0;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-left: 100px;
    font-size: var(--font-size-head);
}

.search-conteiner div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 100px;
}
.search-conteiner-input {
    width: 40%;
    margin-top: 50px;
    height: 40px;
    border-radius: 100px;
    font-size: 20px;
    background-color: var( --color-input);

}

.botton{
    background: #F3A505;
    width: 40%;
    margin-top: 50px;
    border-radius: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 75px;
}
